footer
  nav
    ul
      li
        a(href='/open/') The Open Championship 
      li
        a(href='/usopen/') The United States Open 
      li
        a(href='/masters/') The Masters
      li
        a(href='/pga/') The PGA Championship 
      li
        a(href='/majors/') Main Page
