footer
  nav
    ul
      li
        a(href='/api/open/') The Open Championship 
      li
        a(href='/api/usopen/') The United States Open 
      li
        a(href='/api/masters/') The Masters
      li
        a(href='/api/pga/') The PGA Championship 
      li
        a(href='/api/majors/') Main Page
