html 
   body 
      h1 Men's Golf Majors
      div Majors
        ul
          for major in golfMajors
            li(href=`/masters/`)
          
          
          
          
          
          //- a(href=`/masters/`) The Masters 
          //- a(href=`/pga/`) The PGA Championship 
          //- a(href=`/open/`) The Open Championship 
          //- a(href=`/usopen/`) The United States Open 


