html.open
include partials/head
h1.open The Open Championship

image.trophy(src='../images/claret.jpeg', alt='The Claret Jug')
body
  div.type  GET 
    p.b Displays all Open winners data
  div.open Route: 
    p.b 'localhost:7142/open/'
  div.open Headers: 
    p.b Authorization Bearer YOUR_API_KEY_HERE

  div.type GET  
    p.b Displays Winner(s) from specific year or course
    div.open Route: 
      p.b 'localhost:7142/open{id}'
    div.open Headers: 
      p.b Authorization Bearer YOUR_API_KEY_HERE

  div.type POST 
    p.b Post to add Winner 
  div.open Route: 
    p.b 'localhost:7142/open'
  div.open Headers: 
    p.b Content-Type: application/json Authorization: Bearer YOUR_API_KEY_HERE
  div.open Body:
    p.b required {'name': 'TEXT', 'Score':'INT', 'Year': 'INT', 'course': 'TEXT'}
  div.open Description:
    p.b Creates a new winner from the provided data in the Body.

  div.type PUT 
    p.b Fix/Update current list of players
  div.open Route:
    p.b 'localhost/majors/masters'
  div.open Headers: 
    p.b  Authorization: Bearer YOUR_API_KEY_HERE
  div.open Body:
    p.b required {'name': 'TEXT', 'Score':'INT', 'Year': 'INT', 'course': 'TEXT'}
  div.open Description:
    p.b Edits a winner from the provided data in the Body.

include partials/footer