.trophy{
display: block;
margin-left:auto;
margin-right: auto;
height: 40%;
width: auto;
}
.type{
  color: red;
  font-style: bold;
  font-size: larger;
}
div{
  color: orange; 
  font-size: larger;
  font-weight: 10px;
}
h1{
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}
h1.masters{
  text-decoration: underline;
  text-decoration-color: #9b111e
}
body.masters{
text-decoration: none;
}
.masters{
  background-color: rgb(7,102,82);
  color:#ffdf00;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(31, 26, 26);
}
a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.open{
  background-color:#1a1c3c;
  color: #ffb500;
}
.b{
  text-align: center  ;
  color: #ffff
}
.index{
  background-color:rgb(7,102,82) ;
}
.pga{
  background-color: #00205B;
  color: #f4f4f4;
}
h1.us{
  color: red;
  background-color:#003865;
  text-decoration: underline;
}
.us{
  color: 003865;
  background-color: #e9eaea;
}
p{
  text-align: center;
}